name: Images

on:
  push:
    branches: [ master, main, $default-branch ]
  workflow_dispatch:

jobs:
  matrix:
    runs-on: ubuntu-20.04
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      -
        name: Checkout
        uses: actions/checkout@v1
      -
        id: set-matrix
        run: |
          matrix=$(jq -c '{"otp" : [ .otp[].major ], "rebar3" : [ .rebar3[].version ]}' versions.json)
          echo "Matrix: $matrix"
          echo "::set-output name=matrix::$matrix"

  images:
    needs: matrix
    runs-on: ubuntu-20.04
    strategy:
      matrix: ${{ fromJson(needs.matrix.outputs.matrix) }}
      fail-fast: false
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
      -
        name: Load Env
        id: load-env
        run: |
          load=$(jq -cr '(.otp[] | select(.major == "${{ matrix.otp }}") | with_entries(.key |= "OTP_" + ascii_upcase)) * (.rebar3[] | select(.version == "${{ matrix.rebar3 }}") | with_entries(.key |= "REBAR3_" + ascii_upcase))' versions.json)
          tag=$(echo $load | jq -cr ".OTP_VERSION + \":\" + .REBAR3_VERSION + \":$GITHUB_RUN_ID\"" | sha256sum | cut -b -7)
          load=$(echo "$load" | jq -cr ". + {\"TAG\":\"$tag\"}")
          echo "::set-output name=env::$load"
      -
        name: Docker meta
        env: ${{ fromJson(steps.load-env.outputs.env) }}
        id: meta
        uses: crazy-max/ghaction-docker-meta@v2
        with:
          images: quay.io/travelping/alpine-erlang
          tags: |
            type=raw,value=${{ env.TAG }}
            type=raw,value=${{ env.OTP_MAJOR }}
            type=raw,value=${{ env.OTP_VERSION }}
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      -
        name: Login to QUAY
        uses: docker/login-action@v1
        with:
          registry: quay.io
          username: ${{ secrets.QUAY_USERNAME }}
          password: ${{ secrets.QUAY_TOKEN }}
      -
        name: Build and push
        env: ${{ fromJson(steps.load-env.outputs.env) }}
        uses: docker/build-push-action@v2
        with:
          build-args: |
            OTP_VERSION
            OTP_DOWNLOAD_SHA256
            REBAR3_VERSION
            REBAR3_DOWNLOAD_SHA256
          context: .
          file: ./Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
      -
        name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
